name: Test
on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**.go"
      - "crates/**"
      - "!crates/e2e-move-tests/**"
      - "precompile/**"
  push:
    branches:
      - main
      - "release/*"
    paths:
      - "**.go"
      - "crates/**"
      - "!crates/e2e-move-tests/**"
      - "precompile/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Rust libmovevm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Make free space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: ${{ runner.os }}-cargo-
      - name: Install latest rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.77.1
      - name: Build Rust
        run: make build-rust
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
      - name: Test
        run: |
          # If we do not run "make build-linux", golang succeeds to find the shared libraries.
          # However, if we run "make build-linux", golang fails to find the shared libraries because
          # it tries to find libmovevm.so and libcompiler.so which is not present.
          cp api/libmovevm.x86_64.so api/libmovevm.so
          cp api/libcompiler.x86_64.so api/libcompiler.so
          make test
